{{define "title"}}Home{{end}}

{{define "main"}}
<style>
  .spacer {
    background-color: transparent;
    height: 20px; /* Высота отступа в пикселях */
  }
</style>

<h2>Latest Forums</h2>

<form method='POST'>
  <div>
    <label>Tags:</label>
    <input type='checkbox' name='tags' value='AskReddit'> AskReddit
    <input type='checkbox' name='tags' value='Funny'> Funny
    <input type='checkbox' name='tags' value='News'> News
    <input type='checkbox' name='tags' value='Gaming'> Gaming
    <input type='checkbox' name='tags' value='Other'> Other
  </div>
  <input type='submit' value='Search post by tags'>
</form>

{{if .Form}}
<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Created</th>
  </tr>
  {{range .Form}}
  <tr>
    <td>{{.UserName}}</td>
    <td><a href='/post/view?id={{.Id}}'>{{.Title}}</a></td>
    <td>{{ .CreateDate}}</td>
  </tr>
  <tr>
    <td colspan="3">
      Tags: {{range .Tags}}#{{.}}&nbsp;&nbsp;{{end}}
    </td>
  </tr>
  <tr class="spacer"></tr>
  {{end}}
</table>
{{else}}
<p>There's nothing to see here... yet!</p>
{{end}}
{{end}}
