{{define "title"}}Login{{end}}
{{define "main"}}
<div class="container">
    <form action='/auth/sign-in' method='POST' novalidate>
        <!-- Notice that here we are looping over the NonFieldErrors and displaying them, if any exist -->
        {{range .Form.NonFieldErrors}}
        <div class='alert alert-danger'>{{.}}</div>
        {{end}}
        <div class="form-group">
            <label for="email">Email:</label>
            {{with .Form.FieldErrors.email}}
            <div class='error'>{{.}}</div>
            {{end}}
            <input type='email' class="form-control" id="email" name='email' value='{{.Form.Email}}'>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            {{with .Form.FieldErrors.password}}
            <div class='error'>{{.}}</div>
            {{end}}
            <input type='password' class="form-control" id="password" name='password'>
        </div>
        <button type='submit' class="btn btn-primary">Login</button>
    </form>
</div>
<hr>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <a class="btn btn-outline-dark btn-block" href="/auth/github/login" role="button">
                    <img width="20px" style="margin-bottom: 3px; margin-right: 5px" alt="GitHub sign-in" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" />
                    Login with GitHub
                </a>
            </div>
        </div>
            <br>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <a class="btn btn-outline-dark btn-block" href="/auth/google/login" role="button">
                    <img width="20px" style="margin-bottom: 3px; margin-right: 5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Login with Google
                </a>
            </div>
        </div>
    </div>
{{end}}
