{{define "nav"}}
<nav>
<div>
<a href='/'>Home</a>
{{if .IsAuthenticated}}
<a href='/post/create'>Create post</a>
<a href='/my-likes'>Likes</a>
<a href='/my-posts'>My posts</a>
{{end}}
</div>
<div>
{{if .IsAuthenticated}}
<form action='/logout' method='POST'>
<button>Logout</button>
</form>
{{else}}
<a href='/auth/sign-up'>Signup</a>
<a href='/auth/sign-in'>Login</a>
{{end}}
</div>
</nav>
{{end}}